.NavbarItems{
    background: white;
    height:80px;
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content:left;
    align-items:center;
    font-size: 1rem;
}

.navbar-logo{
    color: black;
    cursor: pointer;
    display: inline-block;
    align-items:left;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.menu-icon{
    width:25px;
    height:3px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.menu-icon::before,
.menu-icon::after{
    content: '';
    position: absolute;
    width:25px;
    height:3px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-icon::before{
    transform: translateY(-8px);
}
.menu-icon::after{
    transform: translateY(8px);
}

.open .menu-icon{
    transform: translateX(-50px);
    background:transparent;
}

.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align:center;
    width: 75vw;
    justify-content:right;
    position:relative;
    right:50px;
    align-self:right;
}

.nav-links{
    color:black;
    text-decoration: none;
    padding: .5rem 1rem;
}
.nav-links:hover{
    background-color: lightgray;
    border-radius:4px;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}
.menu-icon{
    display:none;
}

.navbar-collapse {
    flex-basis: 50%;
    flex-grow: 1;
    align-items: center;
}

@media screen and (max-width: 750px) {
    ul.nav-menu{
      display: none;
    }
    .menu-icon{
        position:absolute;
        right:80px;
        display:inline-block;
        align-self:right;
    }
  }

